# будет игнорироваться подкаталог tmp
/tmp/

# будут игнорироваться  файлы, заканчивающиеся суффиксами _old
*_old*

# будут игнорироваться  файлы, заканчивающиеся суффиксами _backup
*_backup*

# будeт игнорироваться файл Thumbs.db
Thumbs.db

# будeт игнорироваться файл .DS_Store
*.DS_Store